@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");
:root {
  --color-grey: #83888F;
  --color-dark:#333D4B;
  --color-cream:#FEFCF7;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow","Fraunces", "Arial",sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 45px;
}

.header__logo {
  display: block;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list__item {
  margin-left: 33px;
}

.nav-list__item__link {
  text-decoration: none;
  font-family: "Barlow";
  color: var(--color-grey);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 15px;
  text-transform: uppercase;
}

.hero {
  background-image: url(./../../images/hero-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 168px;
}

.hero__box {
  width: 445px;
  padding: 135px 0 135px 85px;
  text-align: left;
  color: var(--color-cream);
}

.hero__box__heading {
  font-family: "Fraunces";
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  margin-bottom: 24px;
}

.hero__box__text {
  font-family: "Barlow";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.commitment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 244px;
}

.commitment__left {
  border-radius: 8px;
}

.commitment__right {
  width: 540px;
  text-align: left;
  color: var(--color-dark);
  padding-top: 90px;
  padding-bottom: 90px;
}

.commitment__right__heading {
  font-family: "Fraunces";
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  margin-bottom: 32px;
}

.commitment__right__text {
  font-family: "Barlow";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.8;
}

.quality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--color-dark);
  color: var(--color-cream);
  border-radius: 10px;
  margin-bottom: 168px;
}

.quality__left {
  width: 540px;
  padding: 88px 0 176px 85px;
}

.quality__left__heading {
  font-family: "Fraunces";
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  margin-bottom: 32px;
}

.quality__left__text {
  font-family: "Barlow";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.8;
}

.quality__right {
  position: absolute;
  left: 950px;
  top: 1419px;
  border-radius: 8px;
}

.country-wrapper {
  max-width: 1045px;
}

.headquarter-heading {
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  text-align: left;
  color: var(--color-grey);
  margin-bottom: 72px;
}

.countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 169px;
}

.countries__item {
  width: 285px;
  text-align: left;
  margin-right: 95px;
}

.countries__item__heading {
  font-family: "Fraunces";
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;
  color: var(--color-dark);
  margin-bottom: 24px;
}

.countries__item__text {
  width: 150px;
  font-family: "Barlow";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.countries__item--kingdom:before {
  content: "";
  display: block;
  width: 41px;
  height: 50px;
  background-image: url(./../../images/kingdom.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 45px;
  margin-right: 95px;
}

.countries__item--canada:before {
  content: "";
  display: block;
  width: 51px;
  height: 50px;
  background-image: url(./../../images/canada.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 45px;
  margin-right: 95px;
}

.countries__item--australia:before {
  content: "";
  display: block;
  width: 49px;
  height: 44px;
  background-image: url(./../../images/australia.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 45px;
  margin-right: 95px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--color-dark);
  padding: 47px 85px;
}

.footer__logo {
  margin-right: 103px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 300px;
}

.footer__nav__item {
  margin-left: 32px;
}

.footer__nav__item__link {
  text-decoration: none;
  font-family: "Barlow";
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: var(--color-grey);
  text-transform: uppercase;
}

.sites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sites__item {
  margin-left: 24px;
}

.sites__item:first-child {
  margin-left: 0;
}
/*# sourceMappingURL=main.css.map */