.country-wrapper {
    max-width: 1045px;
}

.headquarter-heading {
    font-family: "Fraunces";
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    text-align: left;
    color: var(--color-grey);
    margin-bottom: 72px;
}

.countries {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 169px;
    
    
    &__item {
        width: 285px;
        text-align: left;
        margin-right: 95px;
        
        
        &__heading {
            font-family: "Fraunces";
            font-size: 32px;
            font-weight: 900;
            line-height: 36px;
            color: var(--color-dark);
            margin-bottom: 24px;
        }
        
        &__text {
            width: 150px;
            font-family: "Barlow";
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
        }
        &--kingdom:before {
            content:"";
            display: block;
            width: 41px;
            height: 50px;
            background-image: url(./../../images/kingdom.png);
            background-repeat: no-repeat;
            background-size:contain;
            margin-bottom: 45px;
            margin-right: 95px;
        }
        &--canada:before {
            content:"";
            display: block;
            width: 51px;
            height: 50px;
            background-image: url(./../../images/canada.png);
            background-repeat: no-repeat;
            background-size:contain;
            margin-bottom: 45px;
            margin-right: 95px;
        }

        &--australia:before {
            content:"";
            display: block;
            width: 49px;
            height: 44px;
            background-image: url(./../../images/australia.png);
            background-repeat: no-repeat;
            background-size:contain;
            margin-bottom: 45px;
            margin-right: 95px;
        }
    }
}
    